* {
    box-sizing: border-box;
}
  
html {
      overflow-x: hidden;
      width: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1, h2, h3{
    font-family: ;
    margin-block-start:.5rem;
    margin-block-end:0;
}

h1{
    font-size:2.5rem;
}

h2 {
    text-align: center;
}

p{
    line-height:1.4;
}


section {
    text-align: left;
    max-width: 700px;
    width: 95%;
    margin: auto;
    margin-top:2em;
    margin: 1em auto;
    padding: 20px;
    border: 1px gray solid;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border:1px gray solid;
    width:400px;
    margin:auto;
    padding:20px;
}

fieldset{
    margin-bottom: 2em;
}

#latLong-form fieldset{
    text-align:left;
}

label, input, button {
    text-align:center;
    margin-top:15px;
}

input{
    width:250px;
}

input[type=checkbox]{
    width:25px;
}

input[type=number]{
    width:50px;
}

input#state{
    width:50px;
}

legend{
    font-size:25px;
}

label {
    font-size: 1rem;
    margin-top:0;
    width:250px;
}

select {
    margin-top: 20px;
}

.main-label{
    font-size: 1.25rem;
}

button {
    border: 1px #000 solid;
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    width:150px;
}

#reset-location {
    width: 225px;
    padding: 5px;
    margin-bottom: 2em;
    margin-top: 0;
    background-color: gray;
    border: 1px gray solid;
}

.results {
    max-width: 600px;
    margin: auto;
    text-align: left;
    border: 0px gray solid;
}

.night-list, .day-list {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 10px;
}

.results-day, .results-night{
    margin-bottom:1em;
   
    padding:20px;
}

.border{
 border:1px  solid gray;
}

li {
    margin-bottom: 8px;
}

li.first-item{
    margin-top:1em;
}

.link{
    font-size:14px;
}

.min-padding {
    margin-block-end: 0;
    border-bottom: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top:1em;
}

.result {
    margin-bottom: 2em;
}

.result a{
    color:blue;
}

.text-align-center{
    text-align: center;
}

.bold {
    font-weight: 600;
}

.italic{
    font-style:italic;
}

.error-message {
    color: red;
}

.night-list img{
    width:250px;
    height:auto;
}

.note {
    font-style: italic;
    font-size: 14px;
}

.js-hidden{
    display:none;
}

.js-section-hidden{
    display:none;
}
/*loading spinner*/
#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }*/
  
  /*@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }*/

  /*custom alert*/
  /* The alert message box */
.alert {
        padding: 20px;
        background-color: #000;
        border:1px solid red;
        color: white;
        margin-bottom: 15px;
        position: absolute;
        width: 500px;
        left: 50%;
        top: 100px;
        transform: translate(-50%,0);
        border-radius: 10px;

  }

  .alert-activities{
      top:50%;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: red;
  }
  