* {
    box-sizing: border-box;
}
  
html {
      overflow-x: hidden;
      width: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1{
    font-size:1.5rem;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border:1px gray solid;
    width:400px;
    margin:auto;
    padding:20px;
}

fieldset{
    margin-bottom: 2em;
}

#latLong-form fieldset{
    text-align:left;
}

label, input, button {
    text-align:center;
    margin-top:15px;
}

input{
    width:250px;
}

input[type=checkbox]{
    width:25px;
}

input[type=number]{
    width:50px;
}

input#state{
    width:50px;
}

legend{
    font-size:25px;
}

label {
    font-size: 1rem;
    margin-top:0;
    width:250px;
}

.main-label{
    font-size: 1.25rem;
}

button {
    border: 1px #000 solid;
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    width:150px;
}

#reset-location {
    width: 225px;
    padding: 5px;
    margin-bottom: 2em;
    margin-top: 0;
    background-color: gray;
    border: 1px gray solid;
}

.results {
    max-width: 600px;
    margin: auto;
    text-align: left;
}

.night-list, .day-list {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 10px;
}

.results-day, .results-night{
    margin-bottom:1em;
   
    padding:20px;
}

.border{
 border:1px  solid gray;
}

li {
    margin-bottom: 8px;
}

li.first-item{
    margin-top:1em;
}

.link{
    font-size:14px;
}

.min-padding {
    margin-block-end: 0;
    border-bottom: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top:1em;
}

.result {
    margin-bottom: 2em;
}

.result a{
    color:blue;
}

.error-message {
    color: red;
}

.night-list img{
    width:250px;
    height:auto;
}

.note {
    font-style: italic;
    font-size: 14px;
}

.js-hidden{
    display:none;
}

.js-section-hidden{
    display:none;
}