* {
    box-sizing: border-box;
}
  
html {
      overflow-x: hidden;
      width: 100%;
}

body{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1{
    font-size:1.5rem;
}

h2 {
    text-align: center;
}

#event-form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border:1px gray solid;
    width:300px;
    margin:auto;
    padding:20px;
}

label, input, button {
    text-align:center;
    margin-top:15px;
}

input{
    width:250px;
}

input[type=checkbox]{
    width:25px;
}

label {
    font-size: 1.25rem;
    margin-top:0;
    width:250px;
}

button {
    border: 1px #000 solid;
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    width:150px;
}

.results {
    max-width: 500px;
    margin: auto;
    text-align: left;
}

.results-list {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.result {
    margin-bottom: 2em;
}

.result a{
    color:blue;
}

.error-message {
    color: red;
}

.js-hidden{
    display:none;
}