* {
    box-sizing: border-box;
}
  
html {
      overflow-x: hidden;
      width: 100%;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    background-image:url(https://paintedskycreative.com/_images/weekend-roulette/mtnbike-bike.jpg);
    /*background-image:url(_images/hikers-line.jpg);*/
    background-position:center center;
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position:relative;
    background-blend-mode: darken;
    transition: 3s;
}

body{
    margin-top: -16px;
    background-color: rgba(0,0,0,.5);
    height: 100%;
    padding-bottom: 100px;
}

h1, h2, h3{
    font-family: ;
    margin-block-start:.5rem;
    margin-block-end:0;
}

h1{
    font-size:2.5rem;
}

h2 {
    text-align: center;
}

p{
    line-height:1.4;
}

.align-left{
    text-align:left;
}

header{
    text-align: left;
    max-width: 700px;
    width: 95%;
    margin: 1em auto;
    padding: 20px;
    position: relative;
    left:250px;
    top:25%;
    height: 300px;
    color:#fff;
}

section {
    text-align: left;
    max-width: 700px;
    width: 95%;
    margin: 1em auto;
    padding: 20px;
    position: relative;
    left:250px;
    background-color:rgba(255, 255, 255, 0.85);
    background-color:rgba(0, 0, 0, 0.6);
    background-color:rgba(129, 78, 24, 0.95);
    background-color: rgba(43, 29, 14, .8);
    border: 4px double rgba(255,255,255,0.3);
    
    color:#fff;
}

#start-screen{
    background-color: rgba(43, 29, 14, 0);
    border: 0px double rgba(255,255,255,0);
    top:50px;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items:center;
    border:1px gray solid;
    width:400px;
    margin:auto;
    padding:20px;
}

fieldset{
    margin-bottom: 2em;
}

#latLong-form fieldset{
    text-align:left;
}

label, input, button {
    text-align:center;
    margin-top:15px;
}

input{
    width:250px;
}

input[type=checkbox]{
    width:25px;
}

input[type=number]{
    width:50px;
}

input#state{
    width:50px;
}

legend{
    font-size:25px;
}

label {
    font-size: 1rem;
    margin-top:0;
    width:250px;
}

select {
    margin-top: 20px;
}

.main-label{
    font-size: 1.25rem;
}

button {
    border: 1px #000 solid;
    background-color:#000;
    color: #fff;
    border-radius: 10px;
    padding: 6px 10px;
    width:150px;
}

.white-button {
    background-color: #fff;
    color: #2b1d0e;
}

#start{
    margin: auto;
    margin-top: 20px;
    display: block;
}

#reset-location {
    width: 225px;
    padding: 5px;
    margin-bottom: 2em;
    margin-top: 0;
    background-color: gray;
    border: 1px gray solid;
}

.results {
    max-width: 600px;
    margin: auto;
    text-align: left;
    border: 0px gray solid;
}

.night-list, .day-list {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-inline-start: 10px;
}

.results-day, .results-night{
    margin-bottom:1em;
   
    padding:20px;
}

.border{
 border:1px  solid gray;
}

li {
    margin-bottom: 8px;
}

li.first-item{
    margin-top:1em;
}

.link{
    font-size:14px;
}

.min-padding {
    margin-block-end: 0;
    border-bottom: 1px solid #000;
    width: 150px;
    text-align: center;
    margin: auto;
    margin-top:1em;
}

.result {
    margin-bottom: 2em;
}

.result a{
    color:blue;
}

.text-align-center{
    text-align: center;
}

.bold {
    font-weight: 600;
}

.italic{
    font-style:italic;
}

.error-message {
    color: red;
}

.night-list img{
    width:250px;
    height:auto;
}

.note {
    font-style: italic;
    font-size: 14px;
}

.js-hidden{
    display:none;
}

.js-section-hidden{
    display:none;
}
/*loading spinner*/
#spinner:not([hidden]), #globe:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #globe img,  #spinner img {
    width: 100px;
}
  
  /*#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #f25a41;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
  }*/
  
  /*@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }*/

  /*custom alert*/
  /* The alert message box */
.alert {
        padding: 20px;
        background-color: #000;
        border:1px solid red;
        color: white;
        margin-bottom: 15px;
        position: absolute;
        width: 500px;
        left: 50%;
        top: 100px;
        transform: translate(-50%,0);
        border-radius: 10px;

  }

  .alert-activities{
      top:50%;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: red;
  }
  
  /*title animation*/
 
  .title {
    position: relative;
    font-weight: 900;
    font-size: 4em;
  }
  
  .title .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .title .letter {
    display: inline-block;
    line-height: 1em;
    transform-origin: 0 0;
  }

  /*animation: sk-rotateplane 1.2s infinite ease-in-out;
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);*/
 
      .rotating-text{
          font-size:25px;
      }

      .rotating-text {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 100px;
        overflow: hidden;
        font-family: "Lato", sans-serif;
        font-size: 35px;
        line-height: 40px;
        color: #ecf0f1;
        width:600px;
      }
      .rotating-text__container {
        font-weight: 600;
        overflow: hidden;
        height: 58px;
        padding: 0 40px;
      }
      
      .rotating-text__container__text {
        display: inline;
        float: left;
        margin: 0;
      }
      .rotating-text__container__list {
        margin-top: 0;
        padding-left: 138px;
        text-align: left;
        list-style: none;
        -webkit-animation-name: change;
        -webkit-animation-duration: 10s;
        -webkit-animation-iteration-count: infinite;
        animation-name: change;
        animation-duration: 10s;
        animation-iteration-count: infinite;
      }

      p.rotating-text__container__text{
          line-height:58px;
      }
      .rotating-text__container__list__item {
        line-height: 58px;
        margin: 0;
      }
      
      @-webkit-keyframes opacity {
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      @-webkit-keyframes change {
        0%, 12.66%, 100% {
          transform: translate3d(0, 0, 0);
        }
        16.66%, 29.32% {
          transform: translate3d(0, -25%, 0);
        }
        33.32%, 45.98% {
          transform: translate3d(0, -50%, 0);
        }
        49.98%, 62.64% {
          transform: translate3d(0, -75%, 0);
        }
        66.64%, 79.3% {
          transform: translate3d(0, -50%, 0);
        }
        83.3%, 95.96% {
          transform: translate3d(0, -25%, 0);
        }
      }
      @-o-keyframes opacity {
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      @-o-keyframes change {
        0%, 12.66%, 100% {
          transform: translate3d(0, 0, 0);
        }
        16.66%, 29.32% {
          transform: translate3d(0, -25%, 0);
        }
        33.32%, 45.98% {
          transform: translate3d(0, -50%, 0);
        }
        49.98%, 62.64% {
          transform: translate3d(0, -75%, 0);
        }
        66.64%, 79.3% {
          transform: translate3d(0, -50%, 0);
        }
        83.3%, 95.96% {
          transform: translate3d(0, -25%, 0);
        }
      }
      @-moz-keyframes opacity {
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      @-moz-keyframes change {
        0%, 12.66%, 100% {
          transform: translate3d(0, 0, 0);
        }
        16.66%, 29.32% {
          transform: translate3d(0, -25%, 0);
        }
        33.32%, 45.98% {
          transform: translate3d(0, -50%, 0);
        }
        49.98%, 62.64% {
          transform: translate3d(0, -75%, 0);
        }
        66.64%, 79.3% {
          transform: translate3d(0, -50%, 0);
        }
        83.3%, 95.96% {
          transform: translate3d(0, -25%, 0);
        }
      }
      @keyframes opacity {
        0%, 100% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
      }
      @keyframes change {
        0%, 12.66%, 100% {
          transform: translate3d(0, 0, 0);
        }
        16.66%, 29.32% {
          transform: translate3d(0, -25%, 0);
        }
        33.32%, 45.98% {
          transform: translate3d(0, -50%, 0);
        }
        49.98%, 62.64% {
          transform: translate3d(0, -75%, 0);
        }
        66.64%, 79.3% {
          transform: translate3d(0, -50%, 0);
        }
        83.3%, 95.96% {
          transform: translate3d(0, -25%, 0);
        }
      }

      @keyframes change {
        0%, 6%, 100% {
          transform: translate3d(0, 0, 0);
        }
        10%, 16% {
          transform: translate3d(0, -10%, 0);
        }
        20%, 26% {
          transform: translate3d(0, -20%, 0);
        }
        30%, 36% {
          transform: translate3d(0, -30%, 0);
        }
        40%, 46% {
          transform: translate3d(0, -40%, 0);
        }
        50%, 56% {
          transform: translate3d(0, -50%, 0);
        }
        60%, 66% {
            transform: translate3d(0, -60%, 0);
          }
        70%, 76% {
            transform: translate3d(0, -70%, 0);
          }
        80%, 86% {
            transform: translate3d(0, -80%, 0);
        }
        90%, 96% {
            transform: translate3d(0, -90%, 0);
        }
      }

      .roll {
        /* Animation to spin and move the sphere */
         -webkit-animation: roll 1000ms linear infinite, moveLeftToRight 5s linear infinite;
         -moz-animation: roll 1000ms linear infinite, moveLeftToRight 5s linear infinite;
         -ms-animation: roll 1000ms linear infinite, moveLeftToRight 5s linear infinite;
         animation: roll 1000ms linear 0s 2 both, moveLeftToRight 2s linear both;
         /*animation-fill-mode: both;*/
         -webkit-transition: all 1s ease;
         transition: all 5s ease;
         
         position: absolute;
         left: 0;
       }
       
       /* Spinning the sphere using key frames */
       @-ms-keyframes roll {
         from { -ms-transform: rotate(0deg); }
         to { -ms-transform: rotate(360deg); }
       }
       @-moz-keyframes roll {
         from { -moz-transform: rotate(0deg); }
         to { -moz-transform: rotate(360deg); }
       }
       @keyframes roll {
         from { transform: rotate(0deg); }
         to { transform: rotate(360deg); }
       }
       @-webkit-keyframes roll {
         from { -webkit-transform: rotate(0deg); }
         to { -webkit-transform: rotate(360deg); }
       }
       
       /* Move sphere from left to right */
       @-moz-keyframes moveLeftToRight {
         0%   { left: -100px; }
         100% { left: 50%; }
       }
       @-ms-keyframes moveLeftToRight {
         0%   { left: -100px; }
         100% { left: 50%; }
       }
       @keyframes moveLeftToRight {
         0%   { left: -100px; }
         100% { left: 50%; }
       }
       @-webkit-keyframes moveLeftToRight {
         0%   { left: -100px; }
         100% { left: 50%; }
       }
     
     
     /*something else*/
       @keyframes change {
         0%, 6%, 100% {
           transform: translate3d(0, 0, 0);
         }
         10%, 16% {
           transform: translate3d(0, -16.67%, 0);
         }
         20%, 26% {
           transform: translate3d(0, -50%, 0);
         }
         30%, 36% {
           transform: translate3d(0, -16.67%, 0);
         }
         40%, 46% {
           transform: translate3d(0, -83.33%, 0);
         }
         50%, 56% {
           transform: translate3d(0, -66.67%, 0);
         }
         60%, 66% {
             transform: translate3d(0, -33.33%, 0);
           }
         70%, 76% {
             transform: translate3d(0, -50%, 0);
           }
         80%, 86% {
             transform: translate3d(0, -83.33%, 0);
         }
         90%, 96% {
             transform: translate3d(0, -33.33%, 0);
         }
       }